<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright Robin Colbers. -->
<menu>
  <submenu>
    <menu link="index.php?option=com_jdb2xml&view=landing" view="landing">
      JDB2XML
    </menu>
    <menu link="index.php?option=com_jdb2xml&view=controlpanel" view="controlpanel">
      Manual Import
    </menu>
    <menu link="index.php?option=com_jdb2xml&view=importautomatic" view="importautomatic">
      Automatic Import
    </menu>
    <menu link="index.php?option=com_jdb2xml&view=export" view="export">
      Export
    </menu>
    <menu link="index.php?option=com_jdb2xml&view=tagconversion" view="tagconversion">
      Tag conversie
    </menu>
    <menu link="index.php?option=com_jdb2xml&view=rollback" view="rollback">
      Rollback
    </menu>
  </submenu>
</menu>
